<div class="contenedor_banner_superior">
  <img class="img_logo" alt="BiblioTK logo" src="assets/logo_banner_2.png">
  <app-login class="contenedor_login"></app-login>
</div>

<div class="contenedor_formulario">
  <!-- ENRUTA LA PÁGINA -->

  <div class="back">
    <a [routerLink]="['/biblioTK/libros-prestamo']" routerLinkActive="router-link-active">REGRESAR</a>
  </div>

  <div>
    <b>NOMBRE:</b> {{libro.nombre}}
  </div>
  <div>
    <b>ISBN:</b> {{libro.isbn}}
  </div>
  <div>
    <b>AUTORES:</b> {{libro.autores}}
  </div>
  <div>
    <b>NOMBRE:</b> {{libro.nombre}}
  </div>
  <div>
    <b>Nombre prestamista:</b>
    <input class="inputPrestamista" type="text" name="libro_prestadoA" placeholder="Prestamista del libro" value="{{libro.prestadoA}}"
      #prestamistaEditar required>

  </div>

  <div>
    <b>Tiempo de prestamo(En Meses):</b>
    <input class="inputPrestamista" type="number" placeholder="Meses" name="input" [(ngModel)]="time" min="1" max="6" #tiempo required>
  </div>


  <input class="boton" type="submit" value="Enviar cambios" (click)='modificarLibro( prestamistaEditar.value, tiempo.value);
           prestamistaEditar.value = ""; tiempo.value = "";  '>

</div>