<input class="form-control" type="text" #nombre             
placeholder="Ingrese nombre" required>

<input class="form-control"type="text" #isbn    
placeholder="Ingrese ISBN" required>

<div>
<textarea cols="47" rows="3" name="comment" form="usrform" placeholder="Ingrese Autores" #autores required ></textarea>
</div>


<input class="form-control" type="submit"    
(click)='submitFunct(nombre.value, isbn.value, autores.value); 
nombre.value =""; isbn.value="";autores.value=""; ' >
<br>
<div><a [routerLink]="['/biblioTK/lista-libro']" routerLinkActive="router-link-active" >REGRESAR</a></div>