<div *ngIf="libro">
  Información libro: {{libro.id}}
  <div>
    NOMBRE: {{libro.nombre}}
  </div>
  <div>
    ISBN: {{libro.isbn}}
  </div>
  <div>
    AUTORES: {{libro.autores}}
  </div>

  <div *ngIf="libro.prestado">
    LIBRE: NO
    <br> Persona: {{libro.prestadoA}}
    <br> Fecha de prestamo: {{libro.fechaPrestamo | date:'MM/dd/yyyy' }}
    <br> Finalizacion de prestamo: {{libro.finPrestamo | date:'MM/dd/yyyy' }}
    <br>
  </div>
  <div *ngIf="!libro.prestado">
    LIBRE: SI
  </div>

</div>